<!doctype html>
<html>
  <head>
    <title>Alexander Skiba • {{ page.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Alexander Skiba</h1>
        <p class="menu"><a href="/">Blog</a></p>
        <p class="menu"><a href="/pgp">PGP Public Key</a></p>
        <p class="menu">
          <a href="mailto:alex@skiba.io"><i class="fa fa-envelope"></i></a>
          <a href="https://github.com/lacrosse" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://twitter.com/alexander_skiba" target="_blank"><i class="fa fa-twitter"></i></a>
        </p>
      </header>
      <section>
        {% if page.date %}<small class="pull-right">{{ page.date | date: "%B %-e, %Y" }}</small>{% endif %}
        {{ content }}
        {% if page.comments %}{% include disqus.html %}{% endif %}
      </section>
      {% include footer.html %}
    </div>
    {% include js_body.html %}
  </body>
</html>
